openapi: 3.0.0
info:
  description: >
    Welcome to the Sumo Logic's API Reference. You can use these APIs to interact with the Sumo Logic platform.
    Refer to [API Authentication](https://help.sumologic.com/APIs/General-API-Information/API-Authentication) for
    more information about authentication. You can also look at [other APIs](https://help.sumologic.com/APIs) for
    more information about some other API endpoints.
  version: 1.0.0
  title: Sumo Logic API
  x-logo:
    url: "./sumologic_logo.png"

servers:
  - url: https://api.au.sumologic.com/api/
    description: AU deployment API server
  - url: https://api.ca.sumologic.com/api/
    description: CA deployment API server
  - url: https://api.de.sumologic.com/api/
    description: DE deployment API server
  - url: https://api.eu.sumologic.com/api/
    description: EU deployment API server
  - url: https://api.jp.sumologic.com/api/
    description: JP deployment API server
  - url: https://api.sumologic.com/api/
    description: US1 deployment API server
  - url: https://api.us2.sumologic.com/api/
    description: US2 deployment API server

security:
  - basicAuth:
      []

tags:
  - name: dashboardManagement
    description: Dashboard management API.
  - name: dashboardSearch
    description: Dashboard search API.
  - name: dashboardVariableManagement
    description: Dashboard variable management API.
  - name: dashboardPanelDrilldown
    description: Panel drilldown API.
  - name: event
    description: SANA Event API.
  - name: fieldStorageRuleManagement
    description: FieldStorageRule management API.
  - name: dataStreamsManagement
    description: DataStreams Management API.
  - name: investigation
    description: SANA Investigation API.
  - name: investigationConfig
    description: SANA Investigation Config API.
  - name: metadataCatalog
    description: Metadata Catalog API.
  - name: metricsQuery
    description: Metrics Query API.
  - name: metricsRules
    description: Metrics Rules API.
  - name: pivot
    description: SANA Pivot API.
  - name: reports
    description: SANA Reports API.
  - name: ruleManagement
    description: Rule Definition Management API.
  - name: testParser
    description: SANA Test Parser API.
  - name: tracingQuery
    description: Tracing Query API.
  - name: transformationRuleManagement
    description: Transformation Rule Management API.
  - name: eventAnnotations
    description: Event Annotations API.
  - name: fieldManagementV1
    description: Field Management API V1.
  - name: parsersLibraryManagement
    description: Parsers Content Library Management API.
  - name: eventEnrichmentLibraryManagement
    description: Event Enrichment Library Management API.
  - name: topologyLabelManagement
    description: Topology Label Management API.
  - name: topologyManagement
    description: Topology Management API.
  - name: samlConfigurationManagement
    description: SAML Configuration Management
  - name: orgManagement
    description: Organization Management API
  - name: serviceWhitelistManagement
    description: Service Whitelist Management API.
  - name: referenceUrlLibraryManagement
    description: >
      Reference Url Content Library Management API.


      Reference Urls are managed by Content Library.

      For a Content Object, it will have both base fields and local fields.

      System users can and only can modify base fields in any case.

      For Non-System users:
        - If the Content Object is locked or system, users can only modify local fields
        - If the Content Object is NOt locked or NOT system, users can modify all fields

      When both base and local fields are present for a Object, the local fields will override the base fields.
  - name: logSearchesManagement
    description: Log Searches Management API.
  - name: dynamicParsingRuleManagement
    x-displayName: Dynamic Parsing Rules (Beta)
    x-visibility: public
    description: >
      Dynamic Parsing rule management API.

      Dynamic Parsing rules allow you to parse fields from your log messages at the run time in case of json logs.
      For more information see [Manage Field Extraction](https://help.sumologic.com/?cid=5313).


      _This API is in private beta and is not available until given access. To participate in the beta program contact
      your Sumo Logic account representative._

paths:
  /v1alpha/extractionRules/expression/parse:
    $ref: './extraction-rule-internal.yml#/paths/fieldsFromExpression'
  /v1alpha/extractionRules/reservedFieldNames:
    $ref: './extraction-rule-internal.yml#/paths/reservedFieldNames'

  /v1alpha/dashboard:
    $ref: './dashboard-management.yml#/paths/dashboard'
  /v1alpha/dashboard/{accessKey}:
    $ref: './dashboard-management.yml#/paths/dashboardAccessKey'
  /v1alpha/dashboard/contentId/{accessKey}:
    $ref: './dashboard-management.yml#/paths/contentId'
  /v1alpha/dashboard/panel/fill:
    $ref: './dashboard-management.yml#/paths/repeatingPanel'
  /v1alpha/dashboard/panel/validate:
    $ref: './dashboard-management.yml#/paths/validateSumoSearchPanel'

  /v1alpha/dashboard/variablesValues:
    $ref: './dashboard-variables-values.yml#/paths/variablesValues'
  /v1alpha/dashboard/variablesValues/{sessionId}:
    $ref: './dashboard-variables-values.yml#/paths/variablesValuesSessionId'
  /v1alpha/dashboard/variablesValues/logQuery:
    $ref: './dashboard-variables-values.yml#/paths/variablesValuesLogQuery'

  /v1alpha/dashboard/searches:
    $ref: './dashboard-search.yml#/paths/searches'
  /v1alpha/dashboard/searches/{sessionIds}:
    $ref: './dashboard-search.yml#/paths/searchSessionIds'
  /v1alpha/dashboard/searches/aggregates:
    $ref: './dashboard-search.yml#/paths/aggregateValues'

  /v1alpha/dashboard/panel/drilldown:
    $ref: './dashboard-panel-drilldown.yml#/paths/panelDrilldown'

  /v1alpha/dashboard/{dashboardId}/generateReport:
    $ref: './dashboard-management.yml#/paths/generateReport'

  /v1alpha/topology/labels/search:
    $ref: './topology-label-management.yml#/paths/topology/labels/search'
  /v1alpha/topologies:
    $ref: './topology-management.yml#/paths/topologies'
  /v1alpha/topologies/{id}:
    $ref: './topology-management.yml#/paths/topologyId'

  /v1/org/settings:
    $ref: './org-management.yml#/paths/org/settings'

  # Investigation-related APIs
  /v1/eventDetail:
    $ref: './security-investigation.yml#/paths/v1/eventDetail'
  /v1/eventFactored:
    $ref: './security-investigation.yml#/paths/v1/eventFactored'
  /v1/investigation/{investigationId}:
    $ref: './security-investigation.yml#/paths/v1/investigationId'
  /v1/investigation:
    $ref: './security-investigation.yml#/paths/v1/investigation'
  /v1/investigationConfig:
    $ref: './security-investigation.yml#/paths/v1/investigationConfig'
  /v1/investigationReport:
    $ref: './security-investigation.yml#/paths/v1/investigationReport'
  /v1/investigationReport/{id}/public:
    $ref: './security-investigation.yml#/paths/v1/investigationReport/public'
  /v1/investigationReport/{id}:
    $ref: './security-investigation.yml#/paths/v1/investigationReport/private'
  /v1/investigation/eventEnrichmentLookupsDetails:
    $ref: './security-investigation.yml#/paths/v1/eventEnrichmentLookupsDetails'
  /v1/investigation/eventEnrichmentLookupsSummary:
    $ref: './security-investigation.yml#/paths/v1/eventEnrichmentLookupsSummary'
  /v1/linkType:
    $ref: './security-investigation.yml#/paths/v1/linkType'
  /v1/logEntry:
    $ref: './security-investigation.yml#/paths/v1/logEntry'
  /v1/pivot/{investigationPivotIdentifier}:
    $ref: './security-investigation.yml#/paths/v1/getPivot'
  /v2/investigations/{investigationId}/pivots/{pivotId}:
    $ref: './security-investigation.yml#/paths/v2/getPivot'
  /v1/pivot:
    $ref: './security-investigation.yml#/paths/v1/pivot'
  /v1/pivotComment/{pivotCommentIdentifier}:
    $ref: './security-investigation.yml#/paths/v1/pivotCommentIdentifier'
  /v1/pivotComment:
    $ref: './security-investigation.yml#/paths/v1/pivotComment'
  /v1/pivotEvent:
    $ref: './security-investigation.yml#/paths/v1/pivotEvent'
  /v1/pivotResults:
    $ref: './security-investigation.yml#/paths/v1/pivotResults'
  /v1/serverTime:
    $ref: './security-investigation.yml#/paths/v1/serverTime'
  /v1/status:
    $ref: './security-investigation.yml#/paths/v1/status'
  /v1/referenceUrl:
    $ref: './security-investigation.yml#/paths/v1/referenceUrl'
  /v1/demoReset:
    $ref: './security-investigation.yml#/paths/v1/demoReset'
  /v1/parserTester:
    $ref: './security-investigation.yml#/paths/v1/testParser'
  /v1/parserTesterArray:
    $ref: './security-investigation.yml#/paths/v1/testParserArray'
  /v1/breakLogs:
    $ref: './security-investigation.yml#/paths/v1/breakLogs'
  /v1/sourceType:
    $ref: './security-investigation.yml#/paths/v1/listSourcetypes'
  /v1/sourceTypeList:
    $ref: './security-investigation.yml#/paths/v1/listSourcetypeNames'
  /v1/sourceType/{sourcetype}:
    $ref: './security-investigation.yml#/paths/v1/sourcetype'
  /v1/config:
    $ref: './security-investigation.yml#/paths/v1/unseparatedConfig'

  /v1/parserTester/testFiles:
    $ref: './test-file-management.yml#/paths/testFile'
  /v1/parserTester/testFiles/{filePath}:
    $ref: './test-file-management.yml#/paths/testFileId'

  # parser APIs
  /v1/parsers/root:
    $ref: './parsers-content-library-management.yml#/paths/parsers/root'
  /v1/parsers:
    $ref: './parsers-content-library-management.yml#/paths/parsers'
  /v1/parsers/{id}:
    $ref: './parsers-content-library-management.yml#/paths/parserId'
  /v1/parsers/{id}/path:
    $ref: './parsers-content-library-management.yml#/paths/parserId/path'
  /v1/parsers/{id}/lock:
    $ref: './parsers-content-library-management.yml#/paths/parserId/lock'
  /v1/parsers/{id}/unlock:
    $ref: './parsers-content-library-management.yml#/paths/parserId/unlock'
  /v1/parsers/{id}/move:
    $ref: './parsers-content-library-management.yml#/paths/parserId/move'
  /v1/parsers/{id}/copy:
    $ref: './parsers-content-library-management.yml#/paths/parserId/copy'
  /v1/parsers/{id}/export:
    $ref: './parsers-content-library-management.yml#/paths/parserId/export'
  /v1/parsers/{parentId}/import:
    $ref: './parsers-content-library-management.yml#/paths/parserId/import'
  /v1/parsers/path:
    $ref: './parsers-content-library-management.yml#/paths/parsers/path'
  /v1/parsers/search:
    $ref: './parsers-content-library-management.yml#/paths/parsers/search'

  # system parser APIs
  /v1/system/parsers/root:
    $ref: './parsers-content-library-management.yml#/paths/system/parsers/root'
  /v1/system/parsers:
    $ref: './parsers-content-library-management.yml#/paths/system/parsers'
  /v1/system/parsers/search:
    $ref: './parsers-content-library-management.yml#/paths/system/parsers/search'
  /v1/system/parsers/{id}:
    $ref: './parsers-content-library-management.yml#/paths/system/parserId'
  /v1/system/parsers/{id}/path:
    $ref: './parsers-content-library-management.yml#/paths/system/parserId/path'
  /v1/system/parsers/{id}/lock:
    $ref: './parsers-content-library-management.yml#/paths/system/parserId/lock'
  /v1/system/parsers/{id}/unlock:
    $ref: './parsers-content-library-management.yml#/paths/system/parserId/unlock'
  /v1/system/parsers/{id}/move:
    $ref: './parsers-content-library-management.yml#/paths/system/parserId/move'
  /v1/system/parsers/{id}/copy:
    $ref: './parsers-content-library-management.yml#/paths/system/parserId/copy'
  /v1/system/parsers/{id}/export:
    $ref: './parsers-content-library-management.yml#/paths/system/parserId/export'
  /v1/system/parsers/{parentId}/import:
    $ref: './parsers-content-library-management.yml#/paths/system/parserId/import'
  /v1/system/parsers/path:
    $ref: './parsers-content-library-management.yml#/paths/system/parsers/path'

  /v1/parsers/repo:
    $ref: './test-file-management.yml#/paths/parsers/repo'
  /v1/system/parsers/repo:
    $ref: './test-file-management.yml#/paths/system/parsers/repo'

  # Information models APIs
  /v1/informationModels/root:
    $ref: './information-models-content-library-management.yml#/paths/informationModels/root'
  /v1/informationModels:
    $ref: './information-models-content-library-management.yml#/paths/informationModels'
  /v1/informationModels/{id}:
    $ref: './information-models-content-library-management.yml#/paths/informationModelId'
  /v1/informationModels/{id}/path:
    $ref: './information-models-content-library-management.yml#/paths/informationModelId/path'
  /v1/informationModels/{id}/lock:
    $ref: './information-models-content-library-management.yml#/paths/informationModelId/lock'
  /v1/informationModels/{id}/unlock:
    $ref: './information-models-content-library-management.yml#/paths/informationModelId/unlock'
  /v1/informationModels/{id}/move:
    $ref: './information-models-content-library-management.yml#/paths/informationModelId/move'
  /v1/informationModels/{id}/copy:
    $ref: './information-models-content-library-management.yml#/paths/informationModelId/copy'
  /v1/informationModels/{id}/export:
    $ref: './information-models-content-library-management.yml#/paths/informationModelId/export'
  /v1/informationModels/{parentId}/import:
    $ref: './information-models-content-library-management.yml#/paths/informationModelId/import'
  /v1/informationModels/path:
    $ref: './information-models-content-library-management.yml#/paths/informationModels/path'
  /v1/informationModels/search:
    $ref: './information-models-content-library-management.yml#/paths/informationModels/search'

  # event enrichment APIs
  /v1/eventEnrichment/root:
    $ref: './event-enrichment-content-library-management.yml#/paths/eventEnrichment/root'
  /v1/eventEnrichment:
    $ref: './event-enrichment-content-library-management.yml#/paths/eventEnrichment'
  /v1/eventEnrichment/{id}:
    $ref: './event-enrichment-content-library-management.yml#/paths/eventEnrichmentId'
  /v1/eventEnrichment/{id}/path:
    $ref: './event-enrichment-content-library-management.yml#/paths/eventEnrichmentId/path'
  /v1/eventEnrichment/{id}/lock:
    $ref: './event-enrichment-content-library-management.yml#/paths/eventEnrichmentId/lock'
  /v1/eventEnrichment/{id}/unlock:
    $ref: './event-enrichment-content-library-management.yml#/paths/eventEnrichmentId/unlock'
  /v1/eventEnrichment/{id}/move:
    $ref: './event-enrichment-content-library-management.yml#/paths/eventEnrichmentId/move'
  /v1/eventEnrichment/{id}/copy:
    $ref: './event-enrichment-content-library-management.yml#/paths/eventEnrichmentId/copy'
  /v1/eventEnrichment/{id}/export:
    $ref: './event-enrichment-content-library-management.yml#/paths/eventEnrichmentId/export'
  /v1/eventEnrichment/{parentId}/import:
    $ref: './event-enrichment-content-library-management.yml#/paths/eventEnrichmentId/import'
  /v1/eventEnrichment/path:
    $ref: './event-enrichment-content-library-management.yml#/paths/eventEnrichment/path'
  /v1/eventEnrichment/search:
    $ref: './event-enrichment-content-library-management.yml#/paths/eventEnrichment/search'

  # system event enrichment APIs
  /v1/system/eventEnrichment/root:
    $ref: './event-enrichment-content-library-management.yml#/paths/system/eventEnrichment/root'
  /v1/system/eventEnrichment:
    $ref: './event-enrichment-content-library-management.yml#/paths/system/eventEnrichment'
  /v1/system/eventEnrichment/search:
    $ref: './event-enrichment-content-library-management.yml#/paths/system/eventEnrichment/search'
  /v1/system/eventEnrichment/{id}:
    $ref: './event-enrichment-content-library-management.yml#/paths/system/eventEnrichmentId'
  /v1/system/eventEnrichment/{id}/path:
    $ref: './event-enrichment-content-library-management.yml#/paths/system/eventEnrichmentId/path'
  /v1/system/eventEnrichment/{id}/lock:
    $ref: './event-enrichment-content-library-management.yml#/paths/system/eventEnrichmentId/lock'
  /v1/system/eventEnrichment/{id}/unlock:
    $ref: './event-enrichment-content-library-management.yml#/paths/system/eventEnrichmentId/unlock'
  /v1/system/eventEnrichment/{id}/move:
    $ref: './event-enrichment-content-library-management.yml#/paths/system/eventEnrichmentId/move'
  /v1/system/eventEnrichment/{id}/copy:
    $ref: './event-enrichment-content-library-management.yml#/paths/system/eventEnrichmentId/copy'
  /v1/system/eventEnrichment/{id}/export:
    $ref: './event-enrichment-content-library-management.yml#/paths/system/eventEnrichmentId/export'
  /v1/system/eventEnrichment/{parentId}/import:
    $ref: './event-enrichment-content-library-management.yml#/paths/system/eventEnrichmentId/import'
  /v1/system/eventEnrichment/path:
    $ref: './event-enrichment-content-library-management.yml#/paths/system/eventEnrichment/path'

  # reference url APIs
  /v1/referenceUrls/root:
    $ref: './reference-url-content-library-management.yml#/paths/referenceUrls/root'
  /v1/referenceUrls:
    $ref: './reference-url-content-library-management.yml#/paths/referenceUrls'
  /v1/referenceUrls/{id}:
    $ref: './reference-url-content-library-management.yml#/paths/referenceUrlId'
  /v1/referenceUrls/{id}/path:
    $ref: './reference-url-content-library-management.yml#/paths/referenceUrlId/path'
  /v1/referenceUrls/{id}/lock:
    $ref: './reference-url-content-library-management.yml#/paths/referenceUrlId/lock'
  /v1/referenceUrls/{id}/unlock:
    $ref: './reference-url-content-library-management.yml#/paths/referenceUrlId/unlock'
  /v1/referenceUrls/{id}/move:
    $ref: './reference-url-content-library-management.yml#/paths/referenceUrlId/move'
  /v1/referenceUrls/{id}/copy:
    $ref: './reference-url-content-library-management.yml#/paths/referenceUrlId/copy'
  /v1/referenceUrls/{id}/export:
    $ref: './reference-url-content-library-management.yml#/paths/referenceUrlId/export'
  /v1/referenceUrls/{parentId}/import:
    $ref: './reference-url-content-library-management.yml#/paths/referenceUrlId/import'
  /v1/referenceUrls/path:
    $ref: './reference-url-content-library-management.yml#/paths/referenceUrls/path'
  /v1/referenceUrls/search:
    $ref: './reference-url-content-library-management.yml#/paths/referenceUrls/search'

  # system reference url APIs
  /v1/system/referenceUrls/root:
    $ref: './reference-url-content-library-management.yml#/paths/system/referenceUrls/root'
  /v1/system/referenceUrls:
    $ref: './reference-url-content-library-management.yml#/paths/system/referenceUrls'
  /v1/system/referenceUrls/{id}:
    $ref: './reference-url-content-library-management.yml#/paths/system/referenceUrlId'
  /v1/system/referenceUrls/{id}/path:
    $ref: './reference-url-content-library-management.yml#/paths/system/referenceUrlId/path'
  /v1/system/referenceUrls/{id}/lock:
    $ref: './reference-url-content-library-management.yml#/paths/system/referenceUrlId/lock'
  /v1/system/referenceUrls/{id}/unlock:
    $ref: './reference-url-content-library-management.yml#/paths/system/referenceUrlId/unlock'
  /v1/system/referenceUrls/{id}/move:
    $ref: './reference-url-content-library-management.yml#/paths/system/referenceUrlId/move'
  /v1/system/referenceUrls/{id}/copy:
    $ref: './reference-url-content-library-management.yml#/paths/system/referenceUrlId/copy'
  /v1/system/referenceUrls/{id}/export:
    $ref: './reference-url-content-library-management.yml#/paths/system/referenceUrlId/export'
  /v1/system/referenceUrls/{parentId}/import:
    $ref: './reference-url-content-library-management.yml#/paths/system/referenceUrlId/import'
  /v1/system/referenceUrls/path:
    $ref: './reference-url-content-library-management.yml#/paths/system/referenceUrls/path'
  /v1/system/referenceUrls/search:
    $ref: './reference-url-content-library-management.yml#/paths/system/referenceUrls/search'

  /v1/metrics/datapoints:
    $ref: './metrics-query.yml#/paths/v1/metrics/datapoints'

  # Field extraction rules api
  /v2/extractionRules:
    $ref: './field-extraction-rule-management.yml#/paths/v2/fieldExtractionRules'
  /v2/extractionRules/{id}:
    $ref: './field-extraction-rule-management.yml#/paths/v2/fieldExtractionRuleId'

  /v1/dynamicParsingRules:
    $ref: './dynamic-parsing-rule-management.yml#/paths/dynamicParsingRules'
  /v1/dynamicParsingRules/{id}:
    $ref: './dynamic-parsing-rule-management.yml#/paths/dynamicParsingRuleId'

  /v1/fields:
    $ref: './field-management-v1.yml#/paths/fields'
  /v1/fields/all/names:
    $ref: './field-management-v1.yml#/paths/allFieldNames'
  /v1/fields/dropped:
    $ref: './field-management-v1.yml#/paths/droppedFields'
  /v1/fields/builtin:
    $ref: './field-management-v1.yml#/paths/builtinFields'
  /v1/fields/builtin/{id}:
    $ref: './field-management-v1.yml#/paths/builtinFieldId'
  /v1/fields/{id}:
    $ref: './field-management-v1.yml#/paths/fieldId'
  /v1/fields/{id}/enable:
    $ref: './field-management-v1.yml#/paths/enableField'
  /v1/fields/{id}/disable:
    $ref: './field-management-v1.yml#/paths/disableField'
  /v1/fields/{id}/collectors:
    $ref: './field-management-v1.yml#/paths/fieldCollectors'
  /v1/fields/{id}/sources:
    $ref: './field-management-v1.yml#/paths/fieldSources'
  /v1/fields/quota:
    $ref: './field-management-v1.yml#/paths/fieldQuota'

  # Transformation Rule Management APIs
  /v1/transformationRules:
    $ref: './transformation-rule-management.yml#/paths/transformationRules'
  /v1/transformationRules/{id}:
    $ref: './transformation-rule-management.yml#/paths/transformationRuleId'


  # metadata catalog APIs
  /v1/metadataCatalog/dimensions/{dimension}/values/search:
    $ref: './metadata-catalog.yml#/paths/v1/metadataCatalog/valuesWithinDimension'
  /v1/metadataCatalog/dimensions/search:
    $ref: './metadata-catalog.yml#/paths/v1/metadataCatalog/dimensions'
  /v1/metadataCatalog/dimensions/{dimension}/cardinality:
    $ref: './metadata-catalog.yml#/paths/v1/metadataCatalog/dimensionCardinality'
  /v1/metadataCatalog/values/search:
    $ref: './metadata-catalog.yml#/paths/v1/metadataCatalog/values'
  /v1/metadataCatalog/query:
    $ref: './metadata-catalog.yml#/paths/v1/metadataCatalog/query'
  /v1/metadataCatalog/metricDefinitions/extendedCount:
    $ref: './metadata-catalog.yml#/paths/v1/metadataCatalog/extendedCount'
  /v1/metadataCatalog/metricDefinitions/count:
    $ref: './metadata-catalog.yml#/paths/v1/metadataCatalog/count'
  /v1/metadataCatalog/metricDefinitions/{dimension}/count:
    $ref: './metadata-catalog.yml#/paths/v1/metadataCatalog/dimensionCount'
  /v1/metadataCatalog/metricDefinitions/delete:
    $ref: './metadata-catalog.yml#/paths/v1/metadataCatalog/delete'
  /v1/metadataCatalog/blacklist/sources/removeall:
    $ref: './metadata-catalog.yml#/paths/v1/metadataCatalog/blacklist/removeAll'
  /v1/metadataCatalog/blacklist/sources/{sourceId}/remove:
    $ref: './metadata-catalog.yml#/paths/v1/metadataCatalog/blacklist/removeSourceId'
  /v1/metadataCatalog/blacklist/sources/{sourceId}/add:
    $ref: './metadata-catalog.yml#/paths/v1/metadataCatalog/blacklist/addSourceId'
  /v1/metadataCatalog/blacklist/sources:
    $ref: './metadata-catalog.yml#/paths/v1/metadataCatalog/blacklist/sources'
  /v1/metadataCatalog/blacklist/metrics/quota:
    $ref: './metadata-catalog.yml#/paths/v1/metadataCatalog/blacklist/quota'

  # Metrics Rules APIs
  /v1/metricsRules:
    $ref: './metrics-rules.yml#/paths/v1/metricsRules/createRule'
  /v1/metricsRules/{name}:
    $ref: './metrics-rules.yml#/paths/v1/metricsRules/deleteRule'

  # Trace Query APIs
  /v1/tracing/traces:
    $ref: './tracing-query.yml#/paths/v1/tracing/traces'
  /v1/tracing/traces/{traceId}:
    $ref: './tracing-query.yml#/paths/v1/tracing/traceId'
  /v1/tracing/traces/{traceId}/spans:
    $ref: './tracing-query.yml#/paths/v1/tracing/traceId/spans'
  /v1/tracing/traces/{traceId}/spans/{spanId}:
    $ref: './tracing-query.yml#/paths/v1/tracing/traceId/spanId'
  /v1/tracing/traces/{traceId}/criticalPath:
    $ref: './tracing-query.yml#/paths/v1/tracing/traceId/criticalPath'
  /v1/tracing/traces/{traceId}/criticalPath/breakdown/service:
    $ref: './tracing-query.yml#/paths/v1/tracing/traceId/criticalPath/breakdown/service'
  /v1/tracing/fields:
    $ref: './tracing-query.yml#/paths/v1/tracing/fields'
  /v1/tracing/fields/{field}/values:
    $ref: './tracing-query.yml#/paths/v1/tracing/field/values'
  /v1/tracing/metrics:
    $ref: './tracing-query.yml#/paths/v1/tracing/metrics'

  # Log Searches Management APIs
  /v1/logSearches:
    $ref: './logs-search-management.yml#/paths/logSearches'
  /v1/logSearches/{id}:
    $ref: './logs-search-management.yml#/paths/logSearchesId'

  # Data Streams Management APIs
  /v1/dataStreams:
    $ref: './data-streams-management.yml#/paths/dataStreams'
  /v1/dataStreams/{id}:
    $ref: './data-streams-management.yml#/paths/dataStreamsId'
  /v1/dataStreams/bulk/{ids}:
    $ref: './data-streams-management.yml#/paths/dataStreamsByIds'

components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic

  schemas:
    ContainerPanel:
      $ref: './dashboard-management.yml#/components/schemas/ContainerPanel'
    Layout:
      $ref: './dashboard-management.yml#/components/schemas/Layout'
    Panel:
      $ref: './dashboard-management.yml#/components/schemas/Panel'
    RepeatingPanel:
      $ref: './dashboard-management.yml#/components/schemas/RepeatingPanel'
    SumoSearchPanel:
      $ref: './dashboard-management.yml#/components/schemas/SumoSearchPanel'
    Query:
      $ref: './dashboard-management.yml#/components/schemas/Query'
    TextPanel:
      $ref: './dashboard-management.yml#/components/schemas/TextPanel'
    ColoringRule:
      $ref: './dashboard-management.yml#/components/schemas/ColoringRule'
    Grid:
      $ref: './dashboard-management.yml#/components/schemas/Grid'
    LayoutStructure:
      $ref: './dashboard-management.yml#/components/schemas/LayoutStructure'
    ColoringThreshold:
      $ref: './dashboard-management.yml#/components/schemas/ColoringThreshold'
    MetricsQueryData:
      $ref: './dashboard-management.yml#/components/schemas/MetricsQueryData'
    MetricsFilter:
      $ref: './dashboard-management.yml#/components/schemas/MetricsFilter'
    MetricsQueryVariableSourceDefinition:
      $ref: './dashboard-variables-values.yml#/components/schemas/MetricsQueryVariableSourceDefinition'
    MagellanMetadataVariableSourceDefinition:
      $ref: './dashboard-variables-values.yml#/components/schemas/MagellanMetadataVariableSourceDefinition'
    CsvVariableSourceDefinition:
      $ref: './dashboard-variables-values.yml#/components/schemas/CsvVariableSourceDefinition'
    LogQueryVariableSourceDefinition:
      $ref: './dashboard-variables-values.yml#/components/schemas/LogQueryVariableSourceDefinition'
    VariableValuesLogQueryRequest:
      $ref: './dashboard-variables-values.yml#/components/schemas/VariableValuesLogQueryRequest'
    DashboardSearchSessionIds:
      $ref: './dashboard-search.yml#/components/schemas/DashboardSearchSessionIds'
    DashboardSearchParameter:
      $ref: './dashboard-search.yml#/components/schemas/DashboardSearchParameter'
    DashboardSearchParameters:
      $ref: './dashboard-search.yml#/components/schemas/DashboardSearchParameters'
    DashboardSearchStatus:
      $ref: './dashboard-search.yml#/components/schemas/DashboardSearchStatus'
    DashboardSearchResult:
      $ref: './dashboard-search.yml#/components/schemas/DashboardSearchResult'
    DashboardSearchResultsMap:
      $ref: './dashboard-search.yml#/components/schemas/DashboardSearchResultsMap'
    BeginBoundedTimeRange:
      $ref: './generic-models.yml#/components/schemas/BeginBoundedTimeRange'
    CompleteLiteralTimeRange:
      $ref: './generic-models.yml#/components/schemas/CompleteLiteralTimeRange'
    EpochTimeRangeBoundary:
      $ref: './generic-models.yml#/components/schemas/EpochTimeRangeBoundary'
    Iso8601TimeRangeBoundary:
      $ref: './generic-models.yml#/components/schemas/Iso8601TimeRangeBoundary'
    LiteralTimeRangeBoundary:
      $ref: './generic-models.yml#/components/schemas/LiteralTimeRangeBoundary'
    RelativeTimeRangeBoundary:
      $ref: './generic-models.yml#/components/schemas/RelativeTimeRangeBoundary'
    ResolvableTimeRange:
      $ref: './generic-models.yml#/components/schemas/ResolvableTimeRange'
    TimeRangeBoundary:
      $ref: './generic-models.yml#/components/schemas/TimeRangeBoundary'
    DoNotFillPolicy:
      $ref: './metrics-query.yml#/components/schemas/DoNotFillPolicy'
    FillWithConstantPolicy:
      $ref: './metrics-query.yml#/components/schemas/FillWithConstantPolicy'
    FillWithLastValuePolicy:
      $ref: './metrics-query.yml#/components/schemas/FillWithLastValuePolicy'
    InterpolatePolicy:
      $ref: './metrics-query.yml#/components/schemas/InterpolatePolicy'
    MetricDimension:
      $ref: './generic-metrics-models.yml#/components/schemas/MetricDimension'
    AddOrReplaceTransformation:
      $ref: './transformation-rule-management.yml#/components/schemas/AddOrReplaceTransformation'
    AggregateOnTransformation:
      $ref: './transformation-rule-management.yml#/components/schemas/AggregateOnTransformation'

    EventListItemRequest:
      $ref: './security-investigation.yml#/components/schemas/EventListItemRequest'
    StatusFields:
     $ref: './security-investigation.yml#/components/schemas/StatusFields'
    Details:
      $ref: './security-investigation.yml#/components/schemas/Details'
    BaseProperties:
      $ref: './security-investigation.yml#/components/schemas/BaseProperties'
    RequestBaseProperties:
      $ref: './security-investigation.yml#/components/schemas/RequestBaseProperties'
    FileNameList:
      $ref: './test-file-management.yml#/components/schemas/FileNameList'
    ParsersLibraryChangeList:
      $ref: './test-file-management.yml#/components/schemas/ParsersLibraryChangeList'
    InformationModelsLibraryBase:
      $ref: './information-models-content-library-management.yml#/components/schemas/InformationModelsLibraryBase'
    InformationModelsLibraryBaseUpdate:
      $ref: './information-models-content-library-management.yml#/components/schemas/InformationModelsLibraryBaseUpdate'
    InformationModelsLibraryBaseResponse:
      $ref: './information-models-content-library-management.yml#/components/schemas/InformationModelsLibraryBaseResponse'
    InformationModelDetails:
      $ref: './information-models-content-library-management.yml#/components/schemas/InformationModelDetails'
    InformationModelsLibraryModel:
      $ref: './information-models-content-library-management.yml#/components/schemas/InformationModelsLibraryModel'
    InformationModelsLibraryFolder:
      $ref: './information-models-content-library-management.yml#/components/schemas/InformationModelsLibraryFolder'
    InformationModelsLibraryModelUpdate:
      $ref: './information-models-content-library-management.yml#/components/schemas/InformationModelsLibraryModelUpdate'
    InformationModelsLibraryFolderUpdate:
      $ref: './information-models-content-library-management.yml#/components/schemas/InformationModelsLibraryFolderUpdate'
    InformationModelsLibraryModelResponse:
      $ref: './information-models-content-library-management.yml#/components/schemas/InformationModelsLibraryModelResponse'
    InformationModelsLibraryFolderResponse:
      $ref: './information-models-content-library-management.yml#/components/schemas/InformationModelsLibraryFolderResponse'
    IdToInformationModelsLibraryBaseResponseMap:
      $ref: './information-models-content-library-management.yml#/components/schemas/IdToInformationModelsLibraryBaseResponseMap'
    InformationModelsLibraryExportBase:
      $ref: './information-models-content-library-management.yml#/components/schemas/InformationModelsLibraryExportBase'
    InformationModelsLibraryInformationModelExport:
      $ref: './information-models-content-library-management.yml#/components/schemas/InformationModelsLibraryInformationModelExport'
    InformationModelsLibraryFolderExport:
      $ref: './information-models-content-library-management.yml#/components/schemas/InformationModelsLibraryFolderExport'
    InformationModelsLibraryItemWithPath:
      $ref: './information-models-content-library-management.yml#/components/schemas/InformationModelsLibraryItemWithPath'
    ListInformationModelsLibraryItemWithPath:
      $ref: './information-models-content-library-management.yml#/components/schemas/ListInformationModelsLibraryItemWithPath'

    ParsersLibraryBase:
      $ref: './parsers-content-library-management.yml#/components/schemas/ParsersLibraryBase'
    ParsersLibraryBaseUpdate:
      $ref: './parsers-content-library-management.yml#/components/schemas/ParsersLibraryBaseUpdate'
    ParsersLibraryBaseResponse:
      $ref: './parsers-content-library-management.yml#/components/schemas/ParsersLibraryBaseResponse'
    ParsersLibraryParser:
      $ref: './parsers-content-library-management.yml#/components/schemas/ParsersLibraryParser'
    ParsersLibraryFolder:
      $ref: './parsers-content-library-management.yml#/components/schemas/ParsersLibraryFolder'
    ParsersLibraryParserUpdate:
      $ref: './parsers-content-library-management.yml#/components/schemas/ParsersLibraryParserUpdate'
    ParsersLibraryFolderUpdate:
      $ref: './parsers-content-library-management.yml#/components/schemas/ParsersLibraryFolderUpdate'
    ParsersLibraryParserResponse:
      $ref: './parsers-content-library-management.yml#/components/schemas/ParsersLibraryParserResponse'
    ParsersLibraryFolderResponse:
      $ref: './parsers-content-library-management.yml#/components/schemas/ParsersLibraryFolderResponse'
    IdToParsersLibraryBaseResponseMap:
      $ref: './parsers-content-library-management.yml#/components/schemas/IdToParsersLibraryBaseResponseMap'
    ParsersLibraryExportBase:
      $ref: './parsers-content-library-management.yml#/components/schemas/ParsersLibraryExportBase'
    ParsersLibraryParserExportV2:
      $ref: './parsers-content-library-management.yml#/components/schemas/ParsersLibraryParserExportV2'
    ParsersLibraryParserExport:
      $ref: './parsers-content-library-management.yml#/components/schemas/ParsersLibraryParserExport'
    ParsersLibraryFolderExport:
      $ref: './parsers-content-library-management.yml#/components/schemas/ParsersLibraryFolderExport'
    ParsersLibraryItemWithPath:
      $ref: './parsers-content-library-management.yml#/components/schemas/ParsersLibraryItemWithPath'
    ListParsersLibraryItemWithPath:
      $ref: './parsers-content-library-management.yml#/components/schemas/ListParsersLibraryItemWithPath'

    EventEnrichmentLibraryBase:
      $ref: './event-enrichment-content-library-management.yml#/components/schemas/EventEnrichmentLibraryBase'
    EventEnrichmentLibraryBaseUpdate:
      $ref: './event-enrichment-content-library-management.yml#/components/schemas/EventEnrichmentLibraryBaseUpdate'
    EventEnrichmentLibraryBaseResponse:
      $ref: './event-enrichment-content-library-management.yml#/components/schemas/EventEnrichmentLibraryBaseResponse'
    EventEnrichmentLibraryEventEnrichment:
      $ref: './event-enrichment-content-library-management.yml#/components/schemas/EventEnrichmentLibraryEventEnrichment'
    EventEnrichmentLibraryFolder:
      $ref: './event-enrichment-content-library-management.yml#/components/schemas/EventEnrichmentLibraryFolder'
    EventEnrichmentLibraryEventEnrichmentUpdate:
      $ref: './event-enrichment-content-library-management.yml#/components/schemas/EventEnrichmentLibraryEventEnrichmentUpdate'
    EventEnrichmentLibraryFolderUpdate:
      $ref: './event-enrichment-content-library-management.yml#/components/schemas/EventEnrichmentLibraryFolderUpdate'
    EventEnrichmentLibraryEventEnrichmentResponse:
      $ref: './event-enrichment-content-library-management.yml#/components/schemas/EventEnrichmentLibraryEventEnrichmentResponse'
    EventEnrichmentLibraryFolderResponse:
      $ref: './event-enrichment-content-library-management.yml#/components/schemas/EventEnrichmentLibraryFolderResponse'
    IdToEventEnrichmentLibraryBaseResponseMap:
      $ref: './event-enrichment-content-library-management.yml#/components/schemas/IdToEventEnrichmentLibraryBaseResponseMap'
    EventEnrichmentLibraryExportBase:
      $ref: './event-enrichment-content-library-management.yml#/components/schemas/EventEnrichmentLibraryExportBase'
    EventEnrichmentLibraryEventEnrichmentExport:
      $ref: './event-enrichment-content-library-management.yml#/components/schemas/EventEnrichmentLibraryEventEnrichmentExport'
    EventEnrichmentLibraryFolderExport:
      $ref: './event-enrichment-content-library-management.yml#/components/schemas/EventEnrichmentLibraryFolderExport'
    EventEnrichmentLinkType:
      $ref: './event-enrichment-content-library-management.yml#/components/schemas/EventEnrichmentLinkType'
    EventEnrichmentSummary:
      $ref: './event-enrichment-content-library-management.yml#/components/schemas/EventEnrichmentSummary'
    EventEnrichmentDetails:
      $ref: './event-enrichment-content-library-management.yml#/components/schemas/EventEnrichmentDetails'
    EventEnrichmentWidget:
      $ref: './event-enrichment-content-library-management.yml#/components/schemas/EventEnrichmentWidget'
    EventEnrichmentTable:
      $ref: './event-enrichment-content-library-management.yml#/components/schemas/EventEnrichmentTable'
    EventEnrichmentColumn:
      $ref: './event-enrichment-content-library-management.yml#/components/schemas/EventEnrichmentColumn'

    ReferenceUrlLibraryBase:
      $ref: './reference-url-content-library-management.yml#/components/schemas/ReferenceUrlLibraryBase'
    ReferenceUrlLibraryBaseUpdate:
      $ref: './reference-url-content-library-management.yml#/components/schemas/ReferenceUrlLibraryBaseUpdate'
    ReferenceUrlLibraryBaseResponse:
      $ref: './reference-url-content-library-management.yml#/components/schemas/ReferenceUrlLibraryBaseResponse'
    ReferenceUrlLibraryReferenceUrl:
      $ref: './reference-url-content-library-management.yml#/components/schemas/ReferenceUrlLibraryReferenceUrl'
    ReferenceUrlLibraryFolder:
      $ref: './reference-url-content-library-management.yml#/components/schemas/ReferenceUrlLibraryFolder'
    ReferenceUrlLibraryReferenceUrlUpdate:
      $ref: './reference-url-content-library-management.yml#/components/schemas/ReferenceUrlLibraryReferenceUrlUpdate'
    ReferenceUrlLibraryFolderUpdate:
      $ref: './reference-url-content-library-management.yml#/components/schemas/ReferenceUrlLibraryFolderUpdate'
    ReferenceUrlLibraryReferenceUrlResponse:
      $ref: './reference-url-content-library-management.yml#/components/schemas/ReferenceUrlLibraryReferenceUrlResponse'
    ReferenceUrlLibraryFolderResponse:
      $ref: './reference-url-content-library-management.yml#/components/schemas/ReferenceUrlLibraryFolderResponse'
    IdToReferenceUrlLibraryBaseResponseMap:
      $ref: './reference-url-content-library-management.yml#/components/schemas/IdToReferenceUrlLibraryBaseResponseMap'
    ReferenceUrlLibraryExportBase:
      $ref: './reference-url-content-library-management.yml#/components/schemas/ReferenceUrlLibraryExportBase'
    ReferenceUrlLibraryReferenceUrlExport:
      $ref: './reference-url-content-library-management.yml#/components/schemas/ReferenceUrlLibraryReferenceUrlExport'
    ReferenceUrlLibraryFolderExport:
      $ref: './reference-url-content-library-management.yml#/components/schemas/ReferenceUrlLibraryFolderExport'
    ReferenceUrlDetails:
      $ref: './reference-url-content-library-management.yml#/components/schemas/ReferenceUrlDetails'

    TraceQueryExpression:
      $ref: './tracing-query.yml#/components/schemas/TraceQueryExpression'
    AndTracingExpression:
      $ref: './tracing-query.yml#/components/schemas/AndTracingExpression'
    OrTracingExpression:
      $ref: './tracing-query.yml#/components/schemas/OrTracingExpression'
    MetricTracingFilter:
      $ref: './tracing-query.yml#/components/schemas/MetricTracingFilter'
    FieldTracingFilter:
      $ref: './tracing-query.yml#/components/schemas/FieldTracingFilter'
    TracingValue:
      $ref: './tracing-query.yml#/components/schemas/TracingValue'
    DoubleTracingValue:
      $ref: './tracing-query.yml#/components/schemas/DoubleTracingValue'
    IntegerTracingValue:
      $ref: './tracing-query.yml#/components/schemas/IntegerTracingValue'
    StringTracingValue:
      $ref: './tracing-query.yml#/components/schemas/StringTracingValue'
    DateTimeTracingValue:
      $ref: './tracing-query.yml#/components/schemas/DateTimeTracingValue'
    ArrayTracingValue:
      $ref: './tracing-query.yml#/components/schemas/ArrayTracingValue'
    RangeTracingValue:
      $ref: './tracing-query.yml#/components/schemas/RangeTracingValue'
