openapi: 3.0.0
info:
  description: >
    # Getting Started

    Welcome to the Sumo Logic API reference. You can use these APIs to interact with the Sumo Logic platform.
    For information on the collector and search APIs see our [API home page](https://help.sumologic.com/APIs).

    ## API Endpoints

    Sumo Logic has several deployments in different geographic locations. You'll need to use the Sumo Logic API endpoint
    corresponding to your geographic location. See the table below for the different API endpoints by deployment.
    For details determining your account's deployment see [API endpoints](https://help.sumologic.com/?cid=3011).

    <table>
      <tr>
        <td> <strong>Deployment</strong> </td>
        <td> <strong>Endpoint</strong> </td>
      </tr>
      <tr>
        <td> AU </td>
        <td> https://api.au.sumologic.com/api/ </td>
      </tr>
      <tr>
        <td> CA </td>
        <td> https://api.ca.sumologic.com/api/ </td>
      </tr>
      <tr>
        <td> DE </td>
        <td> https://api.de.sumologic.com/api/ </td>
      </tr>
      <tr>
        <td> EU </td>
        <td> https://api.eu.sumologic.com/api/ </td>
      </tr>
      <tr>
        <td> FED </td>
        <td> https://api.fed.sumologic.com/api/ </td>
      </tr>
      <tr>
        <td> IN </td>
        <td> https://api.in.sumologic.com/api/ </td>
      </tr>
      <tr>
        <td> JP </td>
        <td> https://api.jp.sumologic.com/api/ </td>
      </tr>
      <tr>
        <td> US1 </td>
        <td> https://api.sumologic.com/api/ </td>
      </tr>
      <tr>
        <td> US2 </td>
        <td> https://api.us2.sumologic.com/api/ </td>
      </tr>
    </table>

    ## Authentication

    Sumo Logic supports the following options for API authentication:

    - Access ID and Access Key

    - Base64 encoded Access ID and Access Key


    See [Access Keys](https://help.sumologic.com/Manage/Security/Access-Keys) to generate an Access Key. Make sure to
    copy the key you create, because it is displayed only once.

    When you have an Access ID and Access Key you can execute requests such as the following:
      ```bash
      curl -u "<accessId>:<accessKey>" -X GET https://api.<deployment>.sumologic.com/api/v1/users
      ```

    Where `deployment` is either `au`, `ca`, `de`, `eu`, `fed`, `in`, `jp`, `us1`, or `us2`. See
    [API endpoints](#section/API-Endpoints) for details.


    If you prefer to use basic access authentication, you can do a Base64 encoding of your `<accessId>:<accessKey>` to
    authenticate your HTTPS request. The following is an example request, replace the placeholder `<encoded>` with your
    encoded Access ID and Access Key string:
      ```bash
      curl -H "Authorization: Basic <encoded>" -X GET https://api.<deployment>.sumologic.com/api/v1/users
      ```


    Refer to [API Authentication](https://help.sumologic.com/?cid=3012) for a Base64 example.


    ## Status Codes

    Generic status codes that apply to all our APIs. See the
    [HTTP status code registry](https://www.iana.org/assignments/http-status-codes/http-status-codes.xhtml) for reference.
    <table>
      <tr>
        <td> <strong>HTTP Status Code</strong> </td>
        <td> <strong>Error Code</strong> </td>
        <td> <strong>Description</strong> </td>
      </tr>
      <tr>
        <td> 301 </td>
        <td> moved </td>
        <td> The requested resource SHOULD be accessed through returned URI in Location Header. See [troubleshooting](https://help.sumologic.com/APIs/Troubleshooting-APIs/API-301-Error-Moved) for details.</td>
      </tr>
      <tr>
        <td> 401 </td>
        <td> unauthorized </td>
        <td> Credential could not be verified.</td>
      </tr>
      <tr>
        <td> 403 </td>
        <td> forbidden </td>
        <td> This operation is not allowed for your account type or the user doesn't have the role capability to perform this action. See [troubleshooting](https://help.sumologic.com/APIs/Troubleshooting-APIs/API-403-Error-This-operation-is-not-allowed-for-your-account-type) for details.</td>
      </tr>
      <tr>
        <td> 404 </td>
        <td> notfound </td>
        <td> Requested resource could not be found. </td>
      </tr>
      <tr>
        <td> 405 </td>
        <td> method.unsupported </td>
        <td> Unsupported method for URL. </td>
      </tr>
      <tr>
        <td> 415 </td>
        <td> contenttype.invalid </td>
        <td> Invalid content type. </td>
      </tr>
      <tr>
        <td> 429 </td>
        <td> rate.limit.exceeded </td>
        <td> The API request rate is higher than 4 request per second or inflight API requests are higher than 10 request per second. </td>
      </tr>
      <tr>
        <td> 500 </td>
        <td> internal.error </td>
        <td> Internal server error. </td>
      </tr>
      <tr>
        <td> 503 </td>
        <td> service.unavailable </td>
        <td> Service is currently unavailable. </td>
      </tr>
    </table>

    ## Filtering

    Some API endpoints support filtering results on a specified set of fields. Each endpoint that supports filtering
    will list the fields that can be filtered. Multiple fields can be combined by using an ampersand `&` character.


    For example, to get 20 users whose `firstName` is `John` and `lastName` is `Doe`:
      ```bash
      api.sumologic.com/v1/users?limit=20&firstName=John&lastName=Doe
      ```

    ## Sorting

    Some API endpoints support sorting fields by using the `sortBy` query parameter. The default sort order is
    ascending. Prefix the field with a minus sign `-` to sort in descending order.


    For example, to get 20 users sorted by their `email` in descending order:
      ```bash
      api.sumologic.com/v1/users?limit=20&sort=-email
      ```

    ## Rate Limiting

    * A rate limit of four API requests per second (240 requests per minute) applies to all API calls from a user.

    * A rate limit of 10 concurrent requests to any API endpoint applies to an access key.


    If a rate is exceeded, a rate limit exceeded 429 status code is returned.


    ## Generating Clients

    You can use [OpenAPI Generator](https://openapi-generator.tech) to generate clients from the YAML file to access
    the API.


    ### Using [NPM](https://www.npmjs.com/get-npm)

    1. Install [NPM package wrapper](https://github.com/openapitools/openapi-generator-cli) globally, exposing the CLI
      on the command line:
      ```bash
      npm install @openapitools/openapi-generator-cli -g
      ```
      You can see detailed instructions [here](https://openapi-generator.tech/docs/installation#npm).

    2. Download the [YAML file](/docs/sumologic-api.yaml) and save it locally. Let's say the file is
    saved as `sumologic-api.yaml`.

    3. Use the following command to generate `python` client inside the `sumo/client/python` directory:
      ```bash
      openapi-generator generate -i sumologic-api.yaml -g python -o sumo/client/python
      ```


    ### Using [Homebrew](https://brew.sh/)

    1. Install OpenAPI Generator
      ```bash
      brew install openapi-generator
      ```

    2. Download the [YAML file](/docs/sumologic-api.yaml) and save it locally. Let's say the file is
    saved as `sumologic-api.yaml`.

    3. Use the following command to generate `python` client side code inside the `sumo/client/python` directory:
      ```bash
      openapi-generator generate -i sumologic-api.yaml -g python -o sumo/client/python
      ```

  version: 1.0.0
  title: Sumo Logic API
  x-logo:
    url: "./sumologic_logo.png"

servers:
  - url: https://api.au.sumologic.com/api/
    description: AU deployment API server
  - url: https://api.ca.sumologic.com/api/
    description: CA deployment API server
  - url: https://api.de.sumologic.com/api/
    description: DE deployment API server
  - url: https://api.eu.sumologic.com/api/
    description: EU deployment API server
  - url: https://api.fed.sumologic.com/api/
    description: FED deployment API server
  - url: https://api.jp.sumologic.com/api/
    description: JP deployment API server
  - url: https://api.sumologic.com/api/
    description: US1 deployment API server
  - url: https://api.us2.sumologic.com/api/
    description: US2 deployment API server

security:
  - basicAuth: []

tags:
  - name: accountManagement
    x-displayName: Account
    x-visibility: private
    description: >
      Account Management API.

      Account page api provide information of contracts and usages of different services provided by sumo

      _This API is in private beta and is not available until given access. To participate in the beta program contact
      your Sumo Logic account representative._

  - name: appManagement
    x-displayName: Apps (Beta)
    x-visibility: public
    description: >
      App installation API.

      View and install Sumo Logic Applications that deliver out-of-the-box dashboards, saved searches, and field
      extraction for popular data sources. For more information see [Sumo Logic Apps](https://help.sumologic.com/07Sumo-Logic-Apps).

  - name: connectionManagement
    x-displayName: Connections (Beta)
    x-visibility: public
    description: >
      Connection management API.


      Set up connections to send alerts to other tools. For more information see
      [Connections and Integrations](https://help.sumologic.com/?cid=1044).

  - name: contentManagement
    x-displayName: Content
    x-visibility: public
    description: >
      Content management API.


      You can export, import, delete and copy content in your organization’s Library. For more information see
      [Library](https://help.sumologic.com/?cid=5173). You can perform the request as a Content Administrator by using
      the `isAdminMode` parameter. For more information see [Admin Mode](https://help.sumologic.com/Manage/Content_Sharing/Admin_Mode).

      <br/>
      <br/>

      ### Example

      The following example uses API endpoints in the US1 deployment. Sumo Logic has several deployments that are
      assigned depending on the geographic location and the date an account is created. For details determining your
      account's deployment see [API endpoints](https://help.sumologic.com/?cid=3011).

      The [Content Import API](#operation/beginAsyncImport) can be used to create or update a Search, Scheduled Search,
      or Dashboard. Here is an example creating a Scheduled Search:

      1. Get the identifier of your `Personal` folder.
        ```bash
        curl -X GET -u "<accessId>:<accessKey>" https://api.sumologic.com/api/v2/content/folders/personal
        ```

        Find the identifier of your `Personal` folder in the response.
        ```json
        {
            ...
            "id": "0000000006A2E86F", <----
            "name": "Personal",
            "itemType": "Folder",
            ...
        }
        ```

        You can use [getFolder](#operation/getFolder), [getAdminRecommededFolder](#operation/getAdminRecommendedFolderAsync),
        or [getGlobalFolder](#operation/getGlobalFolderAsync) endpoints to traverse the content tree and find the identifier of any
        folder you want to manage.

      2. Use the [Content Import API](#operation/beginAsyncImport) to create a new Scheduled Search inside your
        `Personal` folder.
        ```bash
        curl -X POST -u "<accessId>:<accessKey>" -H "Content-Type: application/json" -d @search.json https://api.sumologic.com/api/v2/content/folders/0000000006A2E86F/import
        ```

        The data file `search.json` in the above command has the following `SavedSearchWithScheduleSyncDefinition` object.
        ```json
        // file: search.json
        {
            "type": "SavedSearchWithScheduleSyncDefinition",
            "name": "demo-scheduled-search",
            "description": "Runs every hour with timerange of 15m and sends email notifications",
            "search": {
                "queryText": "\"error\" and \"warn\"",
                "defaultTimeRange": "-15m",
                "byReceiptTime": false,
                "viewName": "",
                "viewStartTime": null,
                "queryParameters": []
            },
            "searchSchedule": {
                "displayableTimeRange": "-15m",
                "parseableTimeRange": {
                    "from": {
                        "relativeTime": "-15m",
                        "type": "RelativeTimeRangeBoundary"
                    },
                    "to": null,
                    "type": "BeginBoundedTimeRange"
                },
                "timeZone": "America/Los_Angeles",
                "threshold": null,
                "notification": {
                    "taskType": "EmailSearchNotificationSyncDefinition",
                    "toList": [
                        "ops@acme.org"
                    ],
                    "subjectTemplate": "Search Results: {{SearchName}}",
                    "includeQuery": true,
                    "includeResultSet": true,
                    "includeHistogram": true,
                    "includeCsvAttachment": false
                },
                "muteErrorEmails": false,
                "scheduleType": "1Hour",
                "parameters": []
            }
        }
        ```

        The response of above request will have the job identifier that you can use to track the status of the import job.
        ```json
        {
            "id": "74DC17FA765C7443"
        }
        ```

      3. Use the job identifier from the import request to get the [status](#operation/getAsyncImportStatus) of the
        import job.
        ```bash
        curl -X GET -u "<accessId>:<accessKey>" https://api.sumologic.com/api/v2/content/folders/0000000006A2E86F/import/74DC17FA765C7443/status
        ```

        If you are importing a large item, you might have to wait for the import job to finish. The following is an
        example response from a completed job.
        ```json
        {
            "status": "Success",
            "statusMessage": null,
            "error": null
        }
        ```


  - name: contentPermissions
    x-displayName: Permissions
    x-visibility: public
    description: >
      Content permissions API.


      You can share your folders, searches, and dashboards with specific users or roles. For more information see
      [Share Content](https://help.sumologic.com/?cid=8675309). You can perform the request as a Content Administrator
      by using the `isAdminMode` parameter. For more information see [Admin Mode](https://help.sumologic.com/Manage/Content_Sharing/Admin_Mode).

  - name: extractionRuleManagement
    x-displayName: Field Extraction Rules (Beta)
    x-visibility: public
    description: >
      Field Extraction Rule management API.


      Field Extraction Rules allow you to parse fields from your log messages at the time the messages are ingested
      eliminating the need to parse fields in your query. For more information see [Manage Field Extraction](https://help.sumologic.com/?cid=5313).

  - name: folderManagement
    x-displayName: Folders
    x-visibility: public
    description: >
      Folder management API.


      You can add folders and subfolders to the Library in order to organize your content for easy access or to share
      content. For more information see [Add Folders to the Library](https://help.sumologic.com/?cid=5020). You can
      perform the request as a Content Administrator by using the `isAdminMode` parameter. For more information see
      [Admin Mode](https://help.sumologic.com/Manage/Content_Sharing/Admin_Mode).

  - name: ingestBudgetManagementV1
    x-displayName: Ingest Budgets
    x-visibility: public
    description: >
      Ingest Budget management API.


      Ingest Budgets allow you to control the capacity of daily ingestion volume sent to Sumo Logic from Collectors.
      For more information see [Ingest Budgets](https://help.sumologic.com/?cid=5235).

  - name: metricsAlertMonitorManagement
    x-displayName: Metrics Alert Monitors (Beta)
    x-visibility: public
    description: >
      Metrics Alert Monitor management API.


      Alert Monitors allow you to monitor a time series and alert when the metric has crossed a static threshold by
      sending an email or webhook notification. For more information see [Metrics Monitors](https://help.sumologic.com/?cid=8002).


      _This API is in private beta and is not available until given access. To participate in the beta program contact
      your Sumo Logic account representative._

  - name: partitionManagement
    x-displayName: Partitions (Beta)
    x-visibility: public
    description: >
      Partition management API.


      Creating a Partition allows you to improve search performance by searching over a smaller number of messages.
      For more information see [Manage Partitions](https://help.sumologic.com/?cid=5231).

  - name: roleManagement
    x-displayName: Roles
    x-visibility: public
    description: >
      Role management API.


      Roles determine the functions that users are able to perform in Sumo Logic. To manage roles, you must have an
      administrator role or your role must have been assigned the manage users and roles capability. For more information
      see [Manage Roles](https://help.sumologic.com/?cid=5234).

  - name: rulesLibraryManagement
    x-displayName: Correlation Rules (Beta)
    x-visibility: private
    description: >
      Correlation Rules management API.


      A Correlation Rule specifies the event data that indicates a potential issue, and how to respond when events
      match rule criteria. A rule can trigger a variety of action types, including email and webhook notifications,
      lookup table updates, and creation of an investigation.


      _This API is in private beta and is not available until given access. To participate in the beta program contact
      your Sumo Logic account representative._

  - name: lookupManagement
    x-displayName: Lookup Tables (Beta)
    x-visibility: public
    description: >
      Lookup Table management API.


      A Lookup Table is a table of data hosted on Sumo Logic that you can use to enrich the log and event data
      received by Sumo Logic and Cloud SIEM. You must create a table schema before you can populate the table.
      You can update and remove Lookup Tables using a Cloud SIEM rule.
      For more information see [Lookup Tables](https://help.sumologic.com/?cid=10109).


      _This API is in private beta and is not available until given access. To participate in the beta program contact
      your Sumo Logic account representative._

  - name: scheduledViewManagement
    x-displayName: Scheduled Views (Beta)
    x-visibility: public
    description: >
      Scheduled View management API.


      Scheduled Views speed the search process for small and historical subsets of your data by functioning as a
      pre-aggregated index. For more information see [Manage Scheduled Views](https://help.sumologic.com/?cid=5128).

  - name: tokensLibraryManagement
    x-displayName: Tokens (beta)
    x-visibility: public
    description: >
      Tokens management API.


      Tokens are associated with your organization to authorize specific operations. Currently, we support collector
      registration tokens, which can be used to register Installed Collectors. Managing tokens requires the
      Manage Tokens role capability. For more information see
      [Installation Tokens](https://help.sumologic.com/?cid=0100).


      _This API is in private beta and is not available until given access. To participate in the beta program contact
      your Sumo Logic account representative._

  - name: transformationRuleManagement
    x-displayName: Transformation Rules (Beta)
    x-visibility: private
    description: >
      Transformation Rule management API.

      Metrics Transformation Rules allow you control how long raw metrics are retained. You can also aggregate metrics
      at collection time and specify a separate retention period for the aggregated metrics. For more information see
      [Metrics Transformation Rules](https://help.sumologic.com/?cid=10117).


  - name: userManagement
    x-displayName: Users
    x-visibility: public
    description: >
      User management API.


      To manage users, you must have the administrator role or your role must have been assigned the manage users and
      roles capability. For more information see [Manage Users](https://help.sumologic.com/?cid=1006).

  - name: metricsSearchesManagement
    x-displayName: Metrics Searches (Beta)
    x-visibility: public
    description: >
      Metrics search management API.


      Save metrics searches in the content library and organize them in a folder hierarchy.
      Share useful queries with users in your organization. For more information see [Sharing Metric Charts](https://help.sumologic.com/Metrics/03-Metric-Charts/Share_a_Metric_Chart).

  - name: accessKeyManagement
    x-displayName: Access Keys (Beta)
    x-visibility: public
    description: >
      Access Key management API.


      Access Keys allow you to securely register new Collectors and access Sumo Logic APIs. For more information see [Access Keys](https://help.sumologic.com/?cid=6690).

  - name: samlConfigurationManagement
    x-displayName: SAML Configuration (Beta)
    x-visibility: public
    description: >
      SAML configuration management API


      Organizations with Enterprise accounts can provision Security Assertion Markup Language (SAML) 2.0 to enable Single Sign-On (SSO) for user access to Sumo Logic. For more information see [SAML Configuration](https://help.sumologic.com/?cid=4016).

  - name: serviceWhitelistManagement
    x-displayName: Service Whitelist (Beta)
    x-visibility: public
    description: >
      Service Whitelist management API


      Service Whitelist Settings allow you to explicitly grant access to specific IP addresses and/or CIDR notations for logins, APIs, and dashboard access. For more information see [Service Whitelist Settings](https://help.sumologic.com/?cid=5454).

  - name: healthEvents
    x-displayName: Health Events (Beta)
    x-visibility: public
    description: >
      Health Events management API.


      Health Events allow you to keep track of the health of your Collectors and Sources. You can use them to
      find and investigate common errors and warnings that are known to cause collection issues. For more information
      see [Health Events](https://help.sumologic.com/?cid=0020).


      _This API is in private beta and is not available until access is granted. Contact your Sumo Logic account
      representative to participate in the beta program._

x-tagGroups:
  - name: Health Events
    tags:
      - healthEvents
  - name: Ingest Budgets Management
    tags:
      - ingestBudgetManagementV1
  - name: Library Management
    tags:
      - appManagement
      - contentManagement
      - contentPermissions
      - folderManagement
      - lookupManagement
  - name: Metrics
    tags:
      - metricsAlertMonitorManagement
      - metricsSearchesManagement
      - transformationRuleManagement
  - name: Security Management
    tags:
      - accessKeyManagement
      - samlConfigurationManagement
      - serviceWhitelistManagement
  - name: Settings Management
    tags:
      - connectionManagement
      - extractionRuleManagement
      - partitionManagement
      - scheduledViewManagement
  - name: Tokens Management
    tags:
      - tokensLibraryManagement
  - name: Users and Roles Management
    tags:
      - roleManagement
      - userManagement

# Group paths based on the category and keep them organized in alphabetical order within the category.
paths:

  # App Management APIs
  /v1/apps:
    $ref: './app-management.yml#/paths/v1/apps'
  /v1/apps/import:
    $ref: './app-management.yml#/paths/v1/apps/import'
  /v1/apps/import/{jobId}/status:
    $ref: './app-management.yml#/paths/v1/apps/import/jobId/importStatus'
  /v1/apps/{uuid}:
    $ref: './app-management.yml#/paths/v1/apps/appUuid'
  /v1/apps/{uuid}/install:
    $ref: './app-management.yml#/paths/v1/apps/appUuid/install'
  /v1/apps/install/{jobId}/status:
    $ref: './app-management.yml#/paths/v1/apps/appUuid/install/installStatus'

  # Connections Management Beta APIs
  /v1/connections:
    $ref: './connection-management.yml#/paths/connections'
  /v1/connections/test:
    $ref: './connection-management.yml#/paths/connections/test'
  /v1/connections/{id}:
    $ref: './connection-management.yml#/paths/connectionsId'

  # Scheduled Views Management APIs
  /v1/scheduledViews:
    $ref: './scheduled-view-management.yml#/paths/v1/scheduledViews'
  /v1/scheduledViews/{id}:
    $ref: './scheduled-view-management.yml#/paths/v1/scheduledViewId'
  /v1/scheduledViews/{id}/disable:
    $ref: './scheduled-view-management.yml#/paths/v1/scheduledViewIdDisable'
  /v1/scheduledViews/{id}/pause:
    $ref: './scheduled-view-management.yml#/paths/v1/scheduledViewIdPause'
  /v1/scheduledViews/{id}/start:
    $ref: './scheduled-view-management.yml#/paths/v1/scheduledViewIdStart'

  # Lookup tables Beta APIs
  /v1/lookupTables:
    $ref: './lookup.yml#/paths/v1/lookupTables'
  /v1/lookupTables/{id}:
    $ref: './lookup.yml#/paths/v1/lookupTableById'
  /v1/lookupTables/{id}/upload:
    $ref: './lookup.yml#/paths/v1/uploadFile'
  /v1/lookupTables/jobs/{jobId}/status:
    $ref: './lookup.yml#/paths/v1/jobs/status'
  /v1/lookupTables/{id}/jobs/finished:
    $ref: './lookup.yml#/paths/v1/jobs/finished'
  /v1/lookupTables/{id}/jobs/unfinished:
    $ref: './lookup.yml#/paths/v1/jobs/unfinished'
  /v1/lookupTables/{id}/truncate:
    $ref: './lookup.yml#/paths/v1/truncateTable'
  /v1/lookupTables/{id}/export:
    $ref: './lookup.yml#/paths/v1/exportTable'
  /v1/lookupTables/{id}/preview:
    $ref: './lookup.yml#/paths/v1/previewData'
  /v1/lookupTables/{id}/row:
    $ref: './lookup.yml#/paths/v1/updateLookupTableRow'

  # Partitions Management Beta APIs
  /v1/partitions:
    $ref: './partitions.yml#/paths/partitions'
  /v1/partitions/{id}:
    $ref: './partitions.yml#/paths/partitionsId'
  /v1/partitions/{id}/decommission:
    $ref: './partitions.yml#/paths/partitionsIdDecommission'
  /v1/partitions/bulk/{ids}:
    $ref: './partitions.yml#/paths/partitionsByIds'

  # Field Extraction Rule Management Beta APIs
  /v1/extractionRules:
    $ref: './extraction-rule-management.yml#/paths/extractionRules'
  /v1/extractionRules/{id}:
    $ref: './extraction-rule-management.yml#/paths/extractionRuleId'

  # Ingest Budget Management GA APIs
  /v1/ingestBudgets:
    $ref: './ingest-budget-management.yml#/paths/ingestBudgets'
  /v1/ingestBudgets/{id}:
    $ref: './ingest-budget-management.yml#/paths/ingestBudgetId'
  /v1/ingestBudgets/{id}/usage/reset:
    $ref: './ingest-budget-management.yml#/paths/ingestBudgetId/usage/reset'
  /v1/ingestBudgets/{id}/collectors:
    $ref: './ingest-budget-management.yml#/paths/ingestBudgetId/collectors'
  /v1/ingestBudgets/{id}/collectors/{collectorId}:
    $ref: './ingest-budget-management.yml#/paths/ingestBudgetId/collectorId'

  # Metrics Monitor Beta APIs
  /v1/metricsAlertMonitors:
    $ref: './metrics-alert-monitor-management.yml#/paths/v1/metricsAlertMonitors'
  /v1/metricsAlertMonitors/{id}:
    $ref: './metrics-alert-monitor-management.yml#/paths/v1/metricsAlertMonitorId'
  /v1/metricsAlertMonitors/{id}/mute:
    $ref: './metrics-alert-monitor-management.yml#/paths/v1/metricsAlertMonitorId/mute'
  /v1/metricsAlertMonitors/{id}/unmute:
    $ref: './metrics-alert-monitor-management.yml#/paths/v1/metricsAlertMonitorId/unmute'

  # Users and Roles Management GA APIs
  /v1/users:
    $ref: './user-management.yml#/paths/users'
  /v1/users/{id}:
    $ref: './user-management.yml#/paths/usersId'
  /v1/users/{id}/email/requestChange:
    $ref: './user-management.yml#/paths/usersId/email/requestChange'
  /v1/users/{id}/password/reset:
    $ref: './user-management.yml#/paths/usersId/password/reset'
  /v1/users/{id}/unlock:
    $ref: './user-management.yml#/paths/usersId/unlock'
  /v1/users/{id}/mfa/disable:
    $ref: './user-management.yml#/paths/usersId/mfa/disable'
  /v1/roles:
    $ref: './role-management.yml#/paths/roles'
  /v1/roles/{id}:
    $ref: './role-management.yml#/paths/roleId'
  /v1/roles/{roleId}/users/{userId}:
    $ref: './role-management.yml#/paths/roleId/userId'
  /v1/roles/capabilities:
    $ref: './role-management.yml#/paths/roles/capabilities'
  /v2/roles/capabilities:
    $ref: './role-management.yml#/paths/v2/roles/capabilities'

  # Folder Management APIs
  /v2/content/folders:
    $ref: './folder-management.yml#/paths/v2/content/folders'
  /v2/content/folders/{id}:
    $ref: './folder-management.yml#/paths/v2/content/folderId'
  /v2/content/folders/personal:
    $ref: './folder-management.yml#/paths/v2/content/folders/personal'
  /v2/content/folders/global:
    $ref: './folder-management.yml#/paths/v2/content/folders/global'
  /v2/content/folders/global/{jobId}/status:
    $ref: './folder-management.yml#/paths/v2/content/folders/globalStatus'
  /v2/content/folders/global/{jobId}/result:
    $ref: './folder-management.yml#/paths/v2/content/folders/globalResult'
  /v2/content/folders/adminRecommended:
    $ref: './folder-management.yml#/paths/v2/content/folders/adminRecommended'
  /v2/content/folders/adminRecommended/{jobId}/status:
    $ref: './folder-management.yml#/paths/v2/content/folders/adminRecommendedStatus'
  /v2/content/folders/adminRecommended/{jobId}/result:
    $ref: './folder-management.yml#/paths/v2/content/folders/adminRecommendedResult'
  /v2/content/folders/{id}/descendants:
    $ref: './folder-management.yml#/paths/v2/content/folderId/descendants'
  /v2/content/folders/{id}/delete:
    $ref: './folder-management.yml#/paths/v2/content/folderId/deleteFolder'
  /v2/content/folders/{id}/delete/{jobId}/status:
    $ref: './folder-management.yml#/paths/v2/content/folderId/deleteFolderStatus'

  # Content permissions Management APIs
  /v2/content/{id}/permissions:
    $ref: './content-permissions.yml#/paths/v2/content/permissions'
  /v2/content/{id}/permissions/add:
    $ref: './content-permissions.yml#/paths/v2/content/permissions/add'
  /v2/content/{id}/permissions/remove:
    $ref: './content-permissions.yml#/paths/v2/content/permissions/remove'

  # Content Management APIs
  /v2/content/path:
    $ref: './content-management.yml#/paths/v2/content/path'
  /v2/content/{contentId}/path:
    $ref: './content-management.yml#/paths/v2/content/contentId/path'
  /v2/content/{id}/export:
    $ref: './content-management.yml#/paths/v2/content/contentId/export'
  /v2/content/{contentId}/export/{jobId}/status:
    $ref: './content-management.yml#/paths/v2/content/contentId/exportStatus'
  /v2/content/{contentId}/export/{jobId}/result:
    $ref: './content-management.yml#/paths/v2/content/contentId/exportResult'
  /v2/content/folders/{folderId}/import:
    $ref: './content-management.yml#/paths/v2/content/folderId/import'
  /v2/content/folders/{folderId}/import/{jobId}/status:
    $ref: './content-management.yml#/paths/v2/content/folderId/import/status'
  /v2/content/{id}/delete:
    $ref: './content-management.yml#/paths/v2/content/contentId/delete'
  /v2/content/delete:
    $ref: './content-management.yml#/paths/v2/content/delete'
  /v2/content/delete/status:
    $ref: './content-management.yml#/paths/v2/content/delete/status'
  /v2/content/{id}/delete/{jobId}/status:
    $ref: './content-management.yml#/paths/v2/content/contentId/deleteStatus'
  /v2/content/{id}/copy:
    $ref: './content-management.yml#/paths/v2/content/contentId/copy'
  /v2/content/{id}/copy/{jobId}/status:
    $ref: './content-management.yml#/paths/v2/content/contentId/copyStatus'
  /v2/content/{id}/move:
    $ref: './content-management.yml#/paths/v2/content/contentId/move'

  # Rules Management Beta APIs
  /v1/rules:
    $ref: './rules-content-library-management.yml#/paths/rules'
  /v1/rules/root:
    $ref: './rules-content-library-management.yml#/paths/rules/root'
  /v1/rules/path:
    $ref: './rules-content-library-management.yml#/paths/rules/path'
  /v1/rules/search:
    $ref: './rules-content-library-management.yml#/paths/rules/search'
  /v1/rules/{id}:
    $ref: './rules-content-library-management.yml#/paths/ruleId'
  /v1/rules/{id}/path:
    $ref: './rules-content-library-management.yml#/paths/ruleId/path'
  /v1/rules/{id}/lock:
    $ref: './rules-content-library-management.yml#/paths/ruleId/lock'
  /v1/rules/{id}/unlock:
    $ref: './rules-content-library-management.yml#/paths/ruleId/unlock'
  /v1/rules/{id}/move:
    $ref: './rules-content-library-management.yml#/paths/ruleId/move'
  /v1/rules/{id}/copy:
    $ref: './rules-content-library-management.yml#/paths/ruleId/copy'
  /v1/rules/{id}/export:
    $ref: './rules-content-library-management.yml#/paths/ruleId/export'
  /v1/rules/{parentId}/import:
    $ref: './rules-content-library-management.yml#/paths/ruleId/import'

  # Transformation Rule Management APIs
  /v1/transformationRules:
    $ref: './transformation-rule-management.yml#/paths/transformationRules'
  /v1/transformationRules/{id}:
    $ref: './transformation-rule-management.yml#/paths/transformationRuleId'

  # Account Management Beta APIs
  /v1/account/contract:
    $ref: './account-management.yml#/paths/v1/account/contract'
  /v1/account/consumption:
    $ref: './account-management.yml#/paths/v1/account/consumption'
  /v1/account/accountOwner:
    $ref: './account-management.yml#/paths/v1/account/owner'

  # Metrics Searches Management Beta APIs
  /v1/metricsSearches:
    $ref: './content-library-metrics.yml#/paths/metricsSearches'
  /v1/metricsSearches/{id}:
    $ref: './content-library-metrics.yml#/paths/metricsSearchesId'

  # Tokens Management Beta APIs
  /v1/tokens:
    $ref: './tokens-content-library-management.yml#/paths/tokens'
  /v1/tokens/{id}:
    $ref: './tokens-content-library-management.yml#/paths/tokenId'

  # Security Management Beta APIs
  # Access Keys API
  /v1/accessKeys:
    $ref: './accesskey-management.yml#/paths/v1/accessKeys'
  /v1/accessKeys/personal:
    $ref: './accesskey-management.yml#/paths/v1/accessKeys/personal'
  /v1/accessKeys/{accessId}:
    $ref: './accesskey-management.yml#/paths/v1/accessKeys/accessId'

  # saml identity provider, whitelisted users, authncertificate and saml lockdown APIs
  /v1/saml/identityProviders:
    $ref: './saml-configuration-management.yml#/paths/saml/identityProviders'
  /v1/saml/identityProviders/{id}:
    $ref: './saml-configuration-management.yml#/paths/saml/identityProvidersId'
  /v1/saml/whitelistedUsers:
    $ref: './saml-configuration-management.yml#/paths/saml/whitelistedUsers'
  /v1/saml/whitelistedUsers/{userId}:
    $ref: './saml-configuration-management.yml#/paths/saml/whitelistedUsersId'
  /v1/saml/authnCertificates:
    $ref: './saml-configuration-management.yml#/paths/saml/authnCertificates'
  /v1/saml/lockdown/enable:
    $ref: './saml-configuration-management.yml#/paths/saml/lockdown/enable'
  /v1/saml/lockdown/disable:
    $ref: './saml-configuration-management.yml#/paths/saml/lockdown/disable'

  # Service Whitelist Management APIs
  /v1/serviceWhitelist/addresses:
    $ref: './service-whitelist-management.yml#/paths/v1/serviceWhitelist/addresses'
  /v1/serviceWhitelist/addresses/add:
    $ref: './service-whitelist-management.yml#/paths/v1/serviceWhitelist/addresses/add'
  /v1/serviceWhitelist/addresses/remove:
    $ref: './service-whitelist-management.yml#/paths/v1/serviceWhitelist/addresses/remove'
  /v1/serviceWhitelist/enable:
    $ref: './service-whitelist-management.yml#/paths/v1/serviceWhitelist/enable'
  /v1/serviceWhitelist/disable:
    $ref: './service-whitelist-management.yml#/paths/v1/serviceWhitelist/disable'
  /v1/serviceWhitelist/status:
    $ref: './service-whitelist-management.yml#/paths/v1/serviceWhitelist/status'
  /v1/serviceWhitelist/userIp:
    $ref: './service-whitelist-management.yml#/paths/v1/serviceWhitelist/userIp'

  # Health events
  /v1/healthEvents:
    $ref: './health-events.yml#/paths/v1alpha/all'
  /v1/healthEvents/resources:
    $ref: './health-events.yml#/paths/v1alpha/resources'

components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic

  schemas:
    AddOrReplaceTransformation:
      $ref: './transformation-rule-management.yml#/components/schemas/AddOrReplaceTransformation'
    AggregateOnTransformation:
      $ref: './transformation-rule-management.yml#/components/schemas/AggregateOnTransformation'
    BeginBoundedTimeRange:
      $ref: './generic-models.yml#/components/schemas/BeginBoundedTimeRange'
    CompleteLiteralTimeRange:
      $ref: './generic-models.yml#/components/schemas/CompleteLiteralTimeRange'
    EpochTimeRangeBoundary:
      $ref: './generic-models.yml#/components/schemas/EpochTimeRangeBoundary'
    Iso8601TimeRangeBoundary:
      $ref: './generic-models.yml#/components/schemas/Iso8601TimeRangeBoundary'
    LiteralTimeRangeBoundary:
      $ref: './generic-models.yml#/components/schemas/LiteralTimeRangeBoundary'
    RelativeTimeRangeBoundary:
      $ref: './generic-models.yml#/components/schemas/RelativeTimeRangeBoundary'
    ResolvableTimeRange:
      $ref: './generic-models.yml#/components/schemas/ResolvableTimeRange'
    TimeRangeBoundary:
      $ref: './generic-models.yml#/components/schemas/TimeRangeBoundary'
    Header:
      $ref: './connection-management.yml#/components/schemas/Header'
    ServiceNowConnection:
      $ref: './connection-management.yml#/components/schemas/ServiceNowConnection'
    ServiceNowDefinition:
      $ref: './connection-management.yml#/components/schemas/ServiceNowDefinition'
    WebhookConnection:
      $ref: './connection-management.yml#/components/schemas/WebhookConnection'
    WebhookDefinition:
      $ref: './connection-management.yml#/components/schemas/WebhookDefinition'
    ContainerPanel:
      $ref: './dashboard-management.yml#/components/schemas/ContainerPanel'
    Layout:
      $ref: './dashboard-management.yml#/components/schemas/Layout'
    Panel:
      $ref: './dashboard-management.yml#/components/schemas/Panel'
    RepeatingPanel:
      $ref: './dashboard-management.yml#/components/schemas/RepeatingPanel'
    SumoSearchPanel:
      $ref: './dashboard-management.yml#/components/schemas/SumoSearchPanel'
    Query:
      $ref: './dashboard-management.yml#/components/schemas/Query'
    TextPanel:
      $ref: './dashboard-management.yml#/components/schemas/TextPanel'
    ColoringRule:
      $ref: './dashboard-management.yml#/components/schemas/ColoringRule'
    Grid:
      $ref: './dashboard-management.yml#/components/schemas/Grid'
    LayoutStructure:
      $ref: './dashboard-management.yml#/components/schemas/LayoutStructure'
    ColoringThreshold:
      $ref: './dashboard-management.yml#/components/schemas/ColoringThreshold'
    MetricsQueryData:
      $ref: './dashboard-management.yml#/components/schemas/MetricsQueryData'
    MetricsFilter:
      $ref: './dashboard-management.yml#/components/schemas/MetricsFilter'
    VariablesValuesData:
      $ref: './dashboard-management.yml#/components/schemas/VariablesValuesData'
    Variable:
      $ref: './dashboard-variables-values.yml#/components/schemas/Variable'
    VariableSourceDefinition:
      $ref: './dashboard-variables-values.yml#/components/schemas/VariableSourceDefinition'
    MetricsQueryVariableSourceDefinition:
      $ref: './dashboard-variables-values.yml#/components/schemas/MetricsQueryVariableSourceDefinition'
    MagellanMetadataVariableSourceDefinition:
      $ref: './dashboard-variables-values.yml#/components/schemas/MagellanMetadataVariableSourceDefinition'
    CsvVariableSourceDefinition:
      $ref: './dashboard-variables-values.yml#/components/schemas/CsvVariableSourceDefinition'
    LogQueryVariableSourceDefinition:
      $ref: './dashboard-variables-values.yml#/components/schemas/LogQueryVariableSourceDefinition'
    VariableValuesLogQueryRequest:
      $ref: './dashboard-variables-values.yml#/components/schemas/VariableValuesLogQueryRequest'
    TopologySearchLabel:
      $ref: './topology-label-management.yml#/components/schemas/TopologySearchLabel'
    AlertSearchNotificationSyncDefinition:
      $ref: './content-synchronization-models.yml#/components/schemas/AlertSearchNotificationSyncDefinition'
    EmailSearchNotificationSyncDefinition:
      $ref: './content-synchronization-models.yml#/components/schemas/EmailSearchNotificationSyncDefinition'
    FolderSyncDefinition:
      $ref: './content-synchronization-models.yml#/components/schemas/FolderSyncDefinition'
    QueryParameterSyncDefinition:
      $ref: './content-synchronization-models.yml#/components/schemas/QueryParameterSyncDefinition'
    DashboardSyncDefinition:
      $ref: './content-synchronization-models.yml#/components/schemas/DashboardSyncDefinition'
    MewboardSyncDefinition:
      $ref: './content-synchronization-models.yml#/components/schemas/MewboardSyncDefinition'
    NotificationThresholdSyncDefinition:
      $ref: './content-synchronization-models.yml#/components/schemas/NotificationThresholdSyncDefinition'
    ReportFilterSyncDefinition:
      $ref: './content-synchronization-models.yml#/components/schemas/ReportFilterSyncDefinition'
    ReportPanelSyncDefinition:
      $ref: './content-synchronization-models.yml#/components/schemas/ReportPanelSyncDefinition'
    SavedSearchWithScheduleSyncDefinition:
      $ref: './content-synchronization-models.yml#/components/schemas/SavedSearchWithScheduleSyncDefinition'
    SavedSearchSyncDefinition:
      $ref: './content-synchronization-models.yml#/components/schemas/SavedSearchSyncDefinition'
    SaveToViewNotificationSyncDefinition:
      $ref: './content-synchronization-models.yml#/components/schemas/SaveToViewNotificationSyncDefinition'
    ScheduleNotificationSyncDefinition:
      $ref: './content-synchronization-models.yml#/components/schemas/ScheduleNotificationSyncDefinition'
    ScheduleSearchParameterSyncDefinition:
      $ref: './content-synchronization-models.yml#/components/schemas/ScheduleSearchParameterSyncDefinition'
    SearchScheduleSyncDefinition:
      $ref: './content-synchronization-models.yml#/components/schemas/SearchScheduleSyncDefinition'
    ServiceNowSearchNotificationSyncDefinition:
      $ref: './content-synchronization-models.yml#/components/schemas/ServiceNowSearchNotificationSyncDefinition'
    ServiceNowFieldsSyncDefinition:
      $ref: './content-synchronization-models.yml#/components/schemas/ServiceNowFieldsSyncDefinition'
    WebhookSearchNotificationSyncDefinition:
      $ref: './content-synchronization-models.yml#/components/schemas/WebhookSearchNotificationSyncDefinition'
    MetricsSavedSearchSyncDefinition:
      $ref: './content-synchronization-models.yml#/components/schemas/MetricsSavedSearchSyncDefinition'
    CreateInvestigationAction:
      $ref: './rules-content-library-management.yml#/components/schemas/CreateInvestigationAction'
    EmailAction:
      $ref: './rules-content-library-management.yml#/components/schemas/EmailAction'
    FieldValueTuple:
      $ref: './rules-content-library-management.yml#/components/schemas/FieldValueTuple'
    NamedAction:
      $ref: './rules-content-library-management.yml#/components/schemas/NamedAction'
    NamedConnectionAction:
      $ref: './rules-content-library-management.yml#/components/schemas/NamedConnectionAction'
    NotableEventAction:
      $ref: './rules-content-library-management.yml#/components/schemas/NotableEventAction'
    NotableEventField:
      $ref: './rules-content-library-management.yml#/components/schemas/NotableEventField'
    RemoveLookupTableRowAction:
      $ref: './rules-content-library-management.yml#/components/schemas/RemoveLookupTableRowAction'
    UpdateLookupTableRowAction:
      $ref: './rules-content-library-management.yml#/components/schemas/UpdateLookupTableRowAction'
    ActionExport:
      $ref: './rules-content-library-management.yml#/components/schemas/ActionExport'
    RemoveLookupTableRowActionExport:
      $ref: './rules-content-library-management.yml#/components/schemas/RemoveLookupTableRowActionExport'
    UpdateLookupTableRowActionExport:
      $ref: './rules-content-library-management.yml#/components/schemas/UpdateLookupTableRowActionExport'
    WebhookHeader:
      $ref: './rules-content-library-management.yml#/components/schemas/WebhookHeader'
    WebhookPostAction:
      $ref: './rules-content-library-management.yml#/components/schemas/WebhookPostAction'
    RuleItem:
      $ref: './rules-content-library-management.yml#/components/schemas/RuleItem'
    RuleWarnings:
      $ref: './rules-content-library-management.yml#/components/schemas/RuleWarnings'
    RulesLibraryBase:
      $ref: './rules-content-library-management.yml#/components/schemas/RulesLibraryBase'
    RulesLibraryBaseUpdate:
      $ref: './rules-content-library-management.yml#/components/schemas/RulesLibraryBaseUpdate'
    RulesLibraryBaseResponse:
      $ref: './rules-content-library-management.yml#/components/schemas/RulesLibraryBaseResponse'
    RulesLibraryRule:
      $ref: './rules-content-library-management.yml#/components/schemas/RulesLibraryRule'
    RulesLibraryFolder:
      $ref: './rules-content-library-management.yml#/components/schemas/RulesLibraryFolder'
    RulesLibraryRuleUpdate:
      $ref: './rules-content-library-management.yml#/components/schemas/RulesLibraryRuleUpdate'
    RulesLibraryFolderUpdate:
      $ref: './rules-content-library-management.yml#/components/schemas/RulesLibraryFolderUpdate'
    RulesLibraryRuleResponse:
      $ref: './rules-content-library-management.yml#/components/schemas/RulesLibraryRuleResponse'
    RulesLibraryFolderResponse:
      $ref: './rules-content-library-management.yml#/components/schemas/RulesLibraryFolderResponse'
    RulesLibraryExportBase:
      $ref: './rules-content-library-management.yml#/components/schemas/RulesLibraryExportBase'
    RulesLibraryRuleExport:
      $ref: './rules-content-library-management.yml#/components/schemas/RulesLibraryRuleExport'
    RulesLibraryFolderExport:
      $ref: './rules-content-library-management.yml#/components/schemas/RulesLibraryFolderExport'
    LookupTableSyncDefinition:
      $ref: './content-synchronization-models.yml#/components/schemas/LookupTableSyncDefinition'
    CollectorRegistrationTokenResponse:
      $ref: './tokens-content-library-management.yml#/components/schemas/CollectorRegistrationTokenResponse'

    # resources and trackers for health events
    CollectorResource:
      $ref: './health-events.yml#/components/schemas/CollectorResource'
    OrgResource:
      $ref: './health-events.yml#/components/schemas/OrgResource'
    SourceResource:
      $ref: './health-events.yml#/components/schemas/SourceResource'
    IngestBudgetResource:
      $ref: './health-events.yml#/components/schemas/IngestBudgetResource'

    OAuthRefreshFailedTracker:
      $ref: './health-events.yml#/components/schemas/OAuthRefreshFailedTracker'
    IngestBudgetExceededTracker:
      $ref: './health-events.yml#/components/schemas/IngestBudgetExceededTracker'
    CollectionS3AccessDeniedTracker:
      $ref: './health-events.yml#/components/schemas/CollectionS3AccessDeniedTracker'
    CollectionS3InvalidKeyTracker:
      $ref: './health-events.yml#/components/schemas/CollectionS3InvalidKeyTracker'
    CollectionS3ListingFailedTracker:
      $ref: './health-events.yml#/components/schemas/CollectionS3ListingFailedTracker'
    InstalledCollectorOfflineTracker:
      $ref: './health-events.yml#/components/schemas/InstalledCollectorOfflineTracker'
    IngestThrottlingTracker:
      $ref: './health-events.yml#/components/schemas/IngestThrottlingTracker'
    CollectionInvalidFilePathTracker:
      $ref: './health-events.yml#/components/schemas/CollectionInvalidFilePathTracker'
    CollectionPathAccessDeniedTracker:
      $ref: './health-events.yml#/components/schemas/CollectionPathAccessDeniedTracker'
    CollectionRemoteConnectionFailedTracker:
      $ref: './health-events.yml#/components/schemas/CollectionRemoteConnectionFailedTracker'
    CollectionDockerClientBuildingFailedTracker:
      $ref: './health-events.yml#/components/schemas/CollectionDockerClientBuildingFailedTracker'
    CollectionWindowsEventChannelConnectionFailedTracker:
      $ref: './health-events.yml#/components/schemas/CollectionWindowsEventChannelConnectionFailedTracker'
    CollectionWindowsHostConnectionFailedTracker:
      $ref: './health-events.yml#/components/schemas/CollectionWindowsHostConnectionFailedTracker'
    CollectionAwsMetadataTagsFetchDeniedTracker:
      $ref: './health-events.yml#/components/schemas/CollectionAwsMetadataTagsFetchDeniedTracker'
    CollectionCloudWatchTagsFetchDeniedTracker:
      $ref: './health-events.yml#/components/schemas/CollectionCloudWatchTagsFetchDeniedTracker'
    CollectionCloudWatchListMetricsDeniedTracker:
      $ref: './health-events.yml#/components/schemas/CollectionCloudWatchListMetricsDeniedTracker'
    CollectionCloudWatchGetStatisticsDeniedTracker:
      $ref: './health-events.yml#/components/schemas/CollectionCloudWatchGetStatisticsDeniedTracker'
    CollectionCloudWatchGetStatisticsThrottledTracker:
      $ref: './health-events.yml#/components/schemas/CollectionCloudWatchGetStatisticsThrottledTracker'
